body {
  background: LightGray;
  width: 75vw;
  margin: auto;
  display: grid;
  font-size: 1.1em;
  grid-template-areas:
    "header"
    "article"
    "section"
    "video"
    "footer";
}

header {
  grid-area: header;
  width: 100%;
  border: 1px solid red;
}

#nav-bar {
  position: sticky;
  top: 0;
  background: LightGray;
  border: 1px solid red;
}

#nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

main {
  grid-area: main;
  border: 1px solid red;
  /* display: flex; */
  /* flex-direction: column; */
}

/* #text {
  display: flex;
  flex-direction: row;
} */
article {
  grid-area: article;
  border: 1px solid red;
  /* display: flex; */
  flex-basis: 50%;
}

section {
  grid-area: section;
  border: 1px solid red;
  /* display: flex; */
  flex-basis: 50%;
}

#videodiv {
  grid-area: video;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

#footer {
  border: 1px solid red;
  grid-area: footer;
}

@media {}