header {
  grid-area: header;
  width: 100%;
  border: 1px solid red;
}

nav {
  position: sticky;
  top: 0;
  background: LightGray;
  border: 1px solid red;
}

#nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

#ourstory {
  grid-area: about;
  border: 1px solid red;
  flex-basis: 50%;
}

#ourproduct {
  grid-area: product;
  border: 1px solid red;
  flex-basis: 50%;
}

#videodiv {
  grid-area: vid;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

#footer {
  border: 1px solid red;
  grid-area: footer;
}

body {
  background: LightGray;
  width: 95%;
  margin: auto;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "header"
    "about"
    "product"
    "vid"
    "footer";
}

@media screen and (min-width: 1000px) {
  body {
    background: LightGray;
    width: 75%;
    display: grid;
    font-size: 1.1em;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
      "header header"
      "about product"
      "vid vid"
      "footer footer";
  }
}