#container {
  background: LightGray;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#nav-bar {
  grid-area: header;
  float: left;
  text-align: center;
  /* flex-direction: column; */
  position: fixed;
  padding: 10;
  width: 100%;
  top: 0;
  background-color: #333;
  color: #f2f2f2;
  /* justify-content: center; */
  /* align-items: center; */
}

#companylogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  grid-area: main;
  background: LightSalmon;
  display: flex;
  flex-direction: column;
}

#main {
  background: purple;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

#ourproduct {
  background: pink;
}

#video {
  background: green;
}

#footer {
  background: PaleTurquoise;
  grid-area: footer;
}

@media {}